body{
    background-color: rgba(246, 246, 246, 1);
}
.logoFirstName{
    background-color: #5D5FEF;
    color: white;
}
.bg-color,.navbar-brand,.navbar-brand:hover, .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #5D5FEF;
}
.nav-item{
    margin: 0px 10px;
}

/* Category Section */
/* #category-section ul{

} */
#category-list{
    display:flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
#category-list li{
    list-style: none;
    padding: 5px 15px;
    margin: 0px 10px 0px;
    cursor: pointer;
    border-radius: 5px;
    color: #858585;
}
#category-list li:hover{
    background-color: rgba(93, 95, 239, 0.2);
    color: #5D5FEF;
}