body{
    background-color: rgba(246, 246, 246, 1);
}
.logoFirstName{
    background-color: #5D5FEF;
    color: white;
}
.bg-color,.navbar-brand,.navbar-brand:hover, .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #5D5FEF;
}
.nav-item{
    margin: 0px 10px;
}

/* Category Section */
#category-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
#category-list li{
    list-style: none;
    padding: 5px 15px;
    margin: 0px 10px 0px;
    cursor: pointer;
    border-radius: 5px;
    color: #858585;
}
#category-list li:hover{
    background-color: rgba(93, 95, 239, 0.2);
    color: #5D5FEF;
}




/* sort-section */
.sort-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todays-btn, .trending-btn{
    padding: 5px 15px;
    margin:0px 10px;
    border: 1px solid #5D5FEF;
    border-radius: 5px;
}
#sort-select{
    background-color: white;
    color: #ABADC6;
    padding: 8px 15px;
    text-align: center;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 0px 10px;
    cursor: pointer;
}
.todays-btn{
    background-color: #5D5FEF;
    color: white;
}
.trending-btn{
    background-color: white;
    color: #5D5FEF;
}


/* news-Section" */

.newsDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsAuthor{
    display: flex;
    justify-content: center;
    align-items: center;
}